
body {
    background: linear-gradient(to right,red, powderblue );
    font-family: Arial, sans-serif;
}

.login-form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-form h2 {
    margin-bottom: 20px;
}

.btn-primary {
    background: linear-gradient(to right,red,powderblue);
    border: none;
}

.btn-primary:hover {
    background: linear-gradient(to right, red, powderblue);
}
